<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dzikirqu.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:name="com.dzikirqu.android.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.dzikirqu.android.ui.khatam.KhatamActivity"
            android:exported="false" />

        <activity
            android:name="com.dzikirqu.android.ui.main.bookmarks.BookmarkActivity"
            android:exported="false" />

        <receiver
            android:name="com.dzikirqu.android.util.PraytimeWidget"
            android:exported="true"
            android:label="@string/app_widget_description_1">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/praytime_info_1" />
        </receiver>
        <receiver
            android:name="com.dzikirqu.android.util.PraytimeWidget2"
            android:exported="true"
            android:label="@string/app_widget_description_2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/praytime_info_2" />
        </receiver>

        <activity
            android:name="com.dzikirqu.android.ui.main.note.NoteActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Translucent" />
        <activity
            android:name="com.dzikirqu.android.ui.share.ShareImageActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName="com.dzikirqu.android.ui.hadithchapter.HadithChapterActivity"/>
        <activity
            android:name="com.dzikirqu.android.ui.main.prayer.MainPrayerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <receiver android:name="com.dzikirqu.android.util.AutoStartReceiver"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="android.intent.action.CONFIGURATION_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.dzikirqu.android.ui.praytime.PraytimeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Translucent" />
        <activity
            android:name="com.dzikirqu.android.ui.flyer.FlyerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dzikirqu.android.ui.bsd.settings.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dzikirqu.android.ui.CrashActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dzikirqu.android.ui.jump.JumpQuranActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dzikirqu.android.ui.search.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dzikirqu.android.ui.dailyreminder.DailyReminderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dzikirqu.android.ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Translucent" /> <!-- <activity -->
        <!-- android:name=".ui.v2.main.MainV2Activity" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/AppTheme" /> -->
        <activity
            android:name="com.dzikirqu.android.ui.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="dzikir.qu"
                    android:pathPrefix="/quran"
                    android:scheme="https" />
                <data
                    android:host="dzikir.qu"
                    android:pathPrefix="/prayer"
                    android:scheme="https" />
                <data
                    android:host="dzikir.qu"
                    android:pathPrefix="/riyadussalihin"
                    android:scheme="https" />
                <data
                    android:host="dzikir.qu"
                    android:pathPrefix="/nawawi40"
                    android:scheme="https" />
                <data
                    android:host="dzikir.qu"
                    android:pathPrefix="/note"
                    android:scheme="https" />
                <data
                    android:host="dzikirqu.com"
                    android:pathPrefix="/quran"
                    android:scheme="https" />
                <data
                    android:host="dzikirqu.com"
                    android:pathPrefix="/prayer"
                    android:scheme="https" />
                <data
                    android:host="dzikirqu.com"
                    android:pathPrefix="/riyadussalihin"
                    android:scheme="https" />
                <data
                    android:host="dzikirqu.com"
                    android:pathPrefix="/nawawi40"
                    android:scheme="https" />
                <data
                    android:host="dzikirqu.com"
                    android:pathPrefix="/note"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dzikirqu.android.ui.note.composer.NoteComposerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.dzikirqu.android.ui.note.detail.NoteDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.dzikirqu.android.ui.note.property.location.NotePropertyLocationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.dzikirqu.android.ui.note.property.tag.NotePropertyTagActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.dzikirqu.android.ui.note.property.presenter.NotePropertyPresenterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.dzikirqu.android.ui.note.property.folder.NotePropertyFolderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.dzikirqu.android.ui.hadithchapter.HadithChapterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dzikirqu.android.ui.read.ReadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dzikirqu.android.ui.quran.MainQuranActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dzikirqu.android.ui.onboarding.OnBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dzikirqu.android.ui.onboarding.fragments.OnBoardLoadingActivity"
            android:screenOrientation="portrait" />

        <receiver android:name="com.dzikirqu.android.util.receiver.AdzanReceiver" />
        <receiver android:name="com.dzikirqu.android.util.receiver.KhatamReceiver" />
        <receiver android:name="com.dzikirqu.android.util.receiver.DailyReminderReceiver" />

        <service
            android:name="com.dzikirqu.android.util.foreground.PraytimeForegroundService"
            android:exported="false" />
    </application>

</manifest>